.modulos{
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.modulos .contenedor{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; 
    justify-content: center;
    

}

.modulos .contenedor .targetas{
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
    
}

.modulos .contenedor .targetas:hover{
    transform: scale(1.07);
}

.modulos .contenedor .targetas .imagenes{
    text-align: center;
    margin: 20px 0 40px 0px;
}

.modulos .contenedor .targetas .imagenes img{
    width: 150px;
}

.modulos .contenedor .targetas h3{
    text-align: center;
    margin: 10px;
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}
.modulos .contenedor .targetas .descripcion{
    text-align: center;
    margin: 10px;
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
    
}

.modulos .contenedor .targetas .mas-info{
    text-align: center;
    color: #980202;
    text-decoration: none;
}