.pricing{
    height: 100hv;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #f2f2f2;
}

.pricing .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pricing .box-container .box{
    flex:1 1 27rem;
    margin: 1rem;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
    max-width: 1420px; 
    
}

.pricing .box-container .box:nth-child(2),
.pricing .box-container .box:hover{
    border:.2rem solid #f00;
}

.pricing .box-container .box .recomendado{
    background: #f00;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 2;
    border: solid 3px #f00;
    width: 100%;
    height: 100%
}


.pricing .box-container .box .title{
    color:#63814b;
    font-size: 3rem;
    padding: 4rem 0 ;
}

.pricing .box-container .box ul{
    padding:1rem 0;
    list-style: none;
}

.pricing .box-container .box ul li{
    font-size: 1.7rem;
    color:#666;
    line-height: 1.4;
    padding: 12px 0;
    border-bottom: solid 1px #ddd;
    color: #404040;
}

.pricing .box-container .box ul li .fa-check{
    color:lightgreen;
}

.pricing .box-container .box ul li .fa-times{
    color:tomato;
}



.btn:hover{
    transform: scale(1.1);
}

@media (max-width:1200px){
    .pricing{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .pricing .box-container{
        grid-template-columns: 1fr 1fr;
        padding: 150px 0px;
    }
}

@media (max-width:600px){
    .pricing .box-container{
        grid-template-columns: 1fr;
    }
    .pricing{
        padding-top:0px;
    }
    .pricing .box-container{
        padding: 0px 0px;
    }
}